	*{
		font-family: "Gill Sans","Open Sans",verdana; font-size:16px;
	}
	section>h3{
		font-size: 1.5em;
		font-weight: 400;
	}
	button{
		background-color: green;
		border:1px solid green;
		border-radius: .2em;
		color:white;
		padding: .2em;
		width: 50%;

	}
	figure, video{
		border: 1px solid gray;
		box-shadow: 5px 5px 3px #000;
		text-align: center;
		width:8em;
	}
	figcaption{
		background-color: #fff;
	}
	footer{
		text-align: center;
	}
	h1,h2,h3,#comanda{
		font-style: italic;
	}
	h1{
		margin:.2em;
		transition:font-size 2s;
	}
	img{
		width: 100%;
	}
	li{
		display: inline-block;
		list-style-type: none;
		margin-top: 1em;
		text-align: center;
	}
	p.nota{
		color:gray;
		font-style:italic;
		font-weight: 200;
	}
	video{
		width: 14em;
	}
	.navegacion{
		margin-right: 9.7%;
		text-align: right;
	}
	.navegacion>ul, .navegacion>#comanda{
		display: inline-block;
		margin-left:2em;
	}
	.navegacion > ul > li{
		padding-left: 1.5em;
	}
	.navegacion  a{
		color:gray;
		text-decoration: none;
		font-size:1.5em;
		font-style: italic;
		font-weight: 200;
		
	}
	.outline{
		display: none;
	}
	.precio{
		padding-left: .2em;
		font-weight: bold;
	}
	.tituloSeccion,.tituloPrincipal{
		font-size: 2em;
		font-weight: lighter;
	}
	.tituloPrincipal{
		font-size: 3em;
	}
	#comanda{
		background-color: white;
		display: inline-block;
		padding: .2em;
	}
	#logo{
		width:50px;
		-webkit-transition: .5s ease-in;
    	-moz-transition: .5s ease-in;
    	-o-transition: .5s ease-in;
    	transition: .5s ease-in;
	}
	#logo:hover{
		-webkit-transform: rotate(360deg);
   		-moz-transform: rotate(360deg);
    	-o-transform: rotate(360deg);
    	-ms-transform: rotate(360deg);
    	transform: rotate(360deg);
	}
	#platillos,#sugerencias{
		display: inline-block;
		vertical-align: top;
	}
	#platillos{
		width: 60%;
	}
	#sugerencias{
		background-color: #fd9316;
		text-align: center;
		width: 37%;
	}
	#ubicacion,#mapa{
		background-color: white;
	}
	#mapa{
		width: 100%;
		height: 200px;
	}